.product-listing {

  .thumbnail {
    border: 0;
    border-radius: 4px;
  }
  .caption {
    width: 70%;
  }

  h3 {
    font-size: 18px;
  }
  p {
    color: #747e80;
  }

  .price {
    color: #f57306;
  }
}
