<div class="row product-listing">
    <div class="col col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="#"><img src="assets/images/products/jucer.png" alt="Title"></a>
            <div class="caption">
                <h3><a href="#">Bodum Brazil Coffee Press &amp; Cup</a></h3>
                <p><a href="#">Coffee &amp; Tea</a>,<a href="#">Cofffee Plungers</a></p>
                <p><a href="#" class="btn btn-primary btn-cart" role="button">Add <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></p>
            </div>
        </div>
    </div>
    <div class="col col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="#"><img src="assets/images/products/jucer.png" alt="Title"></a>
            <div class="caption">
                <h3><a href="#">Bodum Brazil Coffee Press &amp; Cup</a></h3>
                <p><a href="#">Coffee &amp; Tea</a>,<a href="#">Cofffee Plungers</a></p>
                <p><a href="#" class="btn btn-primary btn-cart" role="button">Add <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></p>
            </div>
        </div>
    </div>
    <div class="col col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="#"><img src="assets/images/products/jucer.png" alt="Title"></a>
            <div class="caption">
                <h3><a href="#">Bodum Brazil Coffee Press &amp; Cup</a></h3>
                <p><a href="#">Coffee &amp; Tea</a>,<a href="#">Cofffee Plungers</a></p>
                <p><a href="#" class="btn btn-primary btn-cart" role="button">Add <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></p>
            </div>
        </div>
    </div>
    <div class="col col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="#"><img src="assets/images/products/jucer.png" alt="Title"></a>
            <div class="caption">
                <h3><a href="#">Bodum Brazil Coffee Press &amp; Cup</a></h3>
                <p><a href="#">Coffee &amp; Tea</a>,<a href="#">Cofffee Plungers</a></p>
                <p><a href="#" class="btn btn-primary btn-cart" role="button">Add <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></p>
            </div>
        </div>
    </div>
    <div class="col col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="#"><img src="assets/images/products/jucer.png" alt="Title"></a>
            <div class="caption">
                <h3><a href="#">Bodum Brazil Coffee Press &amp; Cup</a></h3>
                <p><a href="#">Coffee &amp; Tea</a>,<a href="#">Cofffee Plungers</a></p>
                <p><a href="#" class="btn btn-primary btn-cart" role="button">Add <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></p>
            </div>
        </div>
    </div>
</div>
