<div class="cart">
    <ul>
        <li class="heading">
            <span class='desc'>Cart</span>
            <span class="cart-icon"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></span>
        </li>
        <li>
            <div class='desc'>
                <a href="#">Bodum Brazil Coffee <br />Press &amp; Cup</a>
                <span>1 x £43</span>
            </div>
            <div class="img"><img src="assets/images/products/jucer.png" alt="image Title"></div>
        </li>
        <li>
            <div class='desc'>
                <a href="#">Oscar Jucer DA 1000</a>
                <span>1 x £495</span>
            </div>
            <div class="img"><img src="assets/images/products/jucer.png" alt="image Title"></div>
        </li>
        <li>
            <div class='desc'>
                <a href="#">Sodastream Penguin</a>
                <span>1 x £189</span>
            </div><div class="img"><img src="assets/images/products/jucer.png" alt="image Title"></div>
        </li>


        <li class="sub-total">Subtotal: <span>£727</span></li>
        <li class="cart-links">
            <a href="#" class='btn btn-info'>View Cart <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
            <a href="#" class='btn btn-info'>Checkout <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
        </li>
    </ul>
</div>
